
$color-background:#232323;
$color-brighter:#F8F8F8;
$color-bright:#E2E2E2;
$color-mid: #A7A7A7;
$color-dark-1:#202020;
$color-dark-2:#272727;

$blue: #619eb8;
$blue-darker: #467285;
$shark-dark: #2f3538;
$shark-pink: #eac7c7;
$darker-white: #dee2e6;

@import "../3rdparty/bootstrap-5.3.2/scss/functions";
@import "../3rdparty/bootstrap-5.3.2/scss/variables";
@import "../3rdparty/bootstrap-5.3.2/scss/mixins";

@import "../3rdparty/bootstrap-5.3.2/scss/reboot";
@import "../3rdparty/bootstrap-5.3.2/scss/type";
@import "../3rdparty/bootstrap-5.3.2/scss/images";
@import "../3rdparty/bootstrap-5.3.2/scss/buttons";
@import "../3rdparty/bootstrap-5.3.2/scss/button-group";
@import "../3rdparty/bootstrap-5.3.2/scss/nav";
@import "../3rdparty/bootstrap-5.3.2/scss/navbar";
@import "../3rdparty/bootstrap-5.3.2/scss/offcanvas";
@import "../3rdparty/bootstrap-5.3.2/scss/bootstrap.scss";

@media all{
    html,body {
    background: linear-gradient(#fff, $shark-pink) !important;
    height: 100%;
    }
}

.nav-item {
    border-radius: .25rem .25rem 0 0;
    background-color: $darker-white;
    *{
        color: $blue;
        text-shadow: #2f3538;
        width: 100%;
    }
    *:hover{
        color: $blue;
    }
    
}
.tab-content{
    padding: 20px;
    background-color: white;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: $darker-white;
    border-radius: 0 0 .25rem .25rem;
}

.btn-primary{
    border-width: 2px;
    border-color: $shark-dark;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  margin-top: -1;
  border-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}