
footer, footer sup, footer a, footer a:hover, footer a:focus, footer a:active, footer a:visited{
    text-align: center;
    color: white;
    font-family: "DOS";
    margin-top: auto;
    background-color: #131313;
    }

footer sup {
    background-color: #f00;
    border-radius: 3px;
    padding: 0 2px;
}