@font-face {
    font-family: "DOS";
    src: url("/static/3rdparty/ttf/moreperfectdos.ttf");
}

body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > * {
    flex-shrink: 0;
}


footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 2vh;
    text-align: center;
    color: white;
    font-family: "DOS";
    background-color: #131313;
    z-index: 4;
}

footer sup {
    font-size: 1.8vh;
    background-color: #f00;
    border-radius: 4px;
    padding: 0 0.6vh;
}