//@use 'modal.scss';
//@use 'dropdown.scss';
//@use 'filetypes.scss';

$color-background:#232323;
$color-brighter:#F8F8F8;
$color-bright:#E2E2E2;
$color-mid: #A7A7A7;
$color-dark-1:#202020;
$color-dark-2:#272727;

$size-navbar: 8vh;
$size-footer: 4vh;
$size-middle: 88vh;


.nav-link.active {
  
  color: $color-brighter !important;
  border-color: $color-brighter !important;
}
.nav-link {
  border-width: 1px !important;
  border-color: #00000000 !important;
  border-style: solid !important;
  margin-left: 5px;
  background-color: $color-dark-2 !important;
  color: $color-brighter !important;
}
button i{
  color: $color-dark-2 !important;
}
.nav-link i {
  color: $color-brighter !important;
  
}

body{
    background-color:$color-dark-1;
}
.navbar{
  padding-left: 10px;
  padding-right: 10px;
}


#code *, #preview *{
  height: 100vh;
  width: 100vw;
}