{% extends "auth-base" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}

<div class="tab-content" id="myTabContent">
  {% if alert_level == "success" %}
    <div class="alert alert-success" role="alert">
      {{message}}
    </div>
  {% elif alert_level == "error" %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
  {% endif %}
</div>
{% endblock content %}