<!DOCTYPE html>
<html lang="en">
<head>
    {#TEMPORARY ICON#}
    <link rel="icon" href="/static/brahaij-emoji.png" type="image/png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/3rdparty/css/reset.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block head %}
    {% endblock head %}
</head>
<body>
    {% block body %}
    {% endblock body %}
    <footer>
      2023 DaytheIPC<sup>NOT A TM</sup> - <a href="https://srv.daytheipc.com/wtfpl.txt">WTFPL</a>
    </footer>
</body>
</html>