{% extends "base" %}
{% import "modal" as modal %}

{% block head %}
{% endblock head %}
{% block body %}

<form action="/login" method="get" name="redirect"></form>
<script> document.forms['redirect'].submit() </script>
{% endblock body %}